### 3. Lectura y Escritura de Archivos CSV

`CSV` es un paquete que permite leer y escribir archivos en formato CSV, comúnmente usados para almacenar datos de sistemas de potencia.

#### Lectura de un archivo CSV
Para leer un archivo CSV y cargarlo en un `DataFrame`:

In [1]:
using DataFrames
using CSV

# Cargado el dataset de nodes
nodes = CSV.read("../../data/module2/nodes.csv", DataFrame)

6×15 DataFrame
 Row │ NUMBER  NAME   TYPE   VPU      ANG    PLOAD    QLOAD    PGEN     QGEN   ⋯
     │ Int64   Int64  Int64  Float64  Int64  Float64  Float64  Float64  Float6 ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │      1      1      3     1.05      0      0.0      0.0      0.0      0. ⋯
   2 │      2      2      2     1.05      0      0.0      0.0      0.5      0.
   3 │      3      3      2     1.0       0      0.0      0.0      0.6      0.
   4 │      4      4      0     1.0       0      0.7      0.7      0.0      0.
   5 │      5      5      0     1.0       0      0.7      0.7      0.0      0. ⋯
   6 │      6      6      0     1.0       0      0.7      0.7      0.0      0.
                                                               7 columns omitted

#### Escritura de CSV

* Para escribir un DataFrame en un archivo CSV:

In [2]:
df = DataFrame(Nodo = [1, 2, 3], PGEN = [100.0, 150.0, 200.0], PLOAD = [50.0, 60.0, 70.0], COSTO = [10.0, 15.0, 20.0])

CSV.write("../../data/module2/data_simulada.csv", df)

"../../data/module2/data_simulada.csv"

### 4. Manipulación Avanzada de DataFrames

### Añadir una nueva columna a un DataFrame

* Puedes añadir nuevas columnas basadas en cálculos:

In [3]:
# Añade una columna NET_P que es PGEN - PLOAD
df[!,:NET_P] = df.PGEN - df.PLOAD
df

3×5 DataFrame
 Row │ Nodo   PGEN     PLOAD    COSTO    NET_P
     │ Int64  Float64  Float64  Float64  Float64
─────┼───────────────────────────────────────────
   1 │     1    100.0     50.0     10.0     50.0
   2 │     2    150.0     60.0     15.0     90.0
   3 │     3    200.0     70.0     20.0    130.0

#### Modificar Datos

* Modificar valores específicos:

In [4]:
# Cambia PGEN del nodo 1 a 120.0
df[1, :PGEN] = 120.0
df

3×5 DataFrame
 Row │ Nodo   PGEN     PLOAD    COSTO    NET_P
     │ Int64  Float64  Float64  Float64  Float64
─────┼───────────────────────────────────────────
   1 │     1    120.0     50.0     10.0     50.0
   2 │     2    150.0     60.0     15.0     90.0
   3 │     3    200.0     70.0     20.0    130.0

#### Eliminar Columnas

* Elimina columnas no necesarias:

In [5]:
# Elimina la columna COSTO si existe
select!(df, Not(:COSTO))

3×4 DataFrame
 Row │ Nodo   PGEN     PLOAD    NET_P
     │ Int64  Float64  Float64  Float64
─────┼──────────────────────────────────
   1 │     1    120.0     50.0     50.0
   2 │     2    150.0     60.0     90.0
   3 │     3    200.0     70.0    130.0

In [6]:
# Eliminar la fila 2 si existe
delete!(df, 2)

2×4 DataFrame
 Row │ Nodo   PGEN     PLOAD    NET_P
     │ Int64  Float64  Float64  Float64
─────┼──────────────────────────────────
   1 │     1    120.0     50.0     50.0
   2 │     3    200.0     70.0    130.0