### 5. Integración con Sistemas de Potencia

En el contexto de sistemas de potencia, los `DataFrames` son útiles para almacenar y manipular datos de:

* Nodos: Información de generadores, cargas, voltajes, etc.
* Líneas: Parámetros como resistencia, reactancia, límites de flujo, etc.
* Otros elementos: Transformadores, compensadores, etc.

Por ejemplo, en un código de flujo DC, podrías usar:

In [1]:
using DataFrames
using CSV

# Cargado el dataset de nodes
nodes = CSV.read("../../data/module2/nodes.csv", DataFrame)

# Cargado el dataset de lines
lines = CSV.read("../../data/module2/lines.csv", DataFrame)

11×14 DataFrame
 Row │ FROM   TO     TYPE   R        X        B        LIM1     LIM2   LIM3    ⋯
     │ Int64  Int64  Int64  Float64  Float64  Float64  Float64  Int64  Int64   ⋯
─────┼──────────────────────────────────────────────────────────────────────────
   1 │     1      2      0     0.1      0.2     0.02       0.7      0      0   ⋯
   2 │     1      4      0     0.05     0.2     0.02       0.9      0      0
   3 │     1      5      0     0.08     0.3     0.03       0.7      0      0
   4 │     2      3      0     0.05     0.25    0.03       0.2      0      0
   5 │     2      4      0     0.05     0.1     0.01       0.5      0      0   ⋯
   6 │     2      5      0     0.1      0.3     0.02       0.4      0      0
   7 │     2      6      0     0.07     0.2     0.025      0.6      0      0
   8 │     3      5      0     0.12     0.26    0.025      0.3      0      0
   9 │     3      6      0     0.02     0.1     0.01       0.7      0      0   ⋯
  10 │     4      5      0     0.2      0.4     0.04       0.3      0      0
  11 │     5      6      0     0.1      0.3     0.03       0.2      0      0
                                                               5 columns omitted

### Ejercicio Práctico

**Objetivos:** Aplicar los conceptos aprendidos sobre el manejo de DataFrames

**Tarea:**

1. Crea un DataFrame manualmente con datos de 4 nodos (Nodo, PGEN, PLOAD, COSTO).
2. Añade una columna NET_P que sea PGEN - PLOAD.
3. Filtra los nodos donde NET_P > 50.
4. Ordena el DataFrame filtrado por COSTO de manera descendente.
5. Escribe el DataFrame filtrado en un archivo CSV llamado filtered_nodes.csv.

In [3]:
# 1. Cargar el dataset de nodes y lines
df = DataFrame(Nodo = [1, 2, 3, 4], PGEN = [100.0, 150.0, 200.0, 170.0], PLOAD = [50.0, 60.0, 70.0, 45.0], COSTO = [10.0, 15.0, 20.0, 15.0])

4×4 DataFrame
 Row │ Nodo   PGEN     PLOAD    COSTO
     │ Int64  Float64  Float64  Float64
─────┼──────────────────────────────────
   1 │     1    100.0     50.0     10.0
   2 │     2    150.0     60.0     15.0
   3 │     3    200.0     70.0     20.0
   4 │     4    170.0     45.0     15.0

In [4]:
# 2. Añadir una columna al dataset de nodes que contenga la diferencia entre PGEN y PLOAD
df.PDIFF = df.PGEN .- df.PLOAD
df

4×5 DataFrame
 Row │ Nodo   PGEN     PLOAD    COSTO    PDIFF
     │ Int64  Float64  Float64  Float64  Float64
─────┼───────────────────────────────────────────
   1 │     1    100.0     50.0     10.0     50.0
   2 │     2    150.0     60.0     15.0     90.0
   3 │     3    200.0     70.0     20.0    130.0
   4 │     4    170.0     45.0     15.0    125.0

In [5]:
# 3. Filtrar el dataset de nodes por la columna PDIFF, mostrando solo los nodos donde PDIFF es mayor que 50
df_filtered = filter(row -> row.PDIFF > 50, df)

3×5 DataFrame
 Row │ Nodo   PGEN     PLOAD    COSTO    PDIFF
     │ Int64  Float64  Float64  Float64  Float64
─────┼───────────────────────────────────────────
   1 │     2    150.0     60.0     15.0     90.0
   2 │     3    200.0     70.0     20.0    130.0
   3 │     4    170.0     45.0     15.0    125.0

In [6]:
# 4. Ordena el dataset de nodes por la columna COSTO en orden descendente
df_sorted = sort(df, :COSTO, rev=true)

4×5 DataFrame
 Row │ Nodo   PGEN     PLOAD    COSTO    PDIFF
     │ Int64  Float64  Float64  Float64  Float64
─────┼───────────────────────────────────────────
   1 │     3    200.0     70.0     20.0    130.0
   2 │     2    150.0     60.0     15.0     90.0
   3 │     4    170.0     45.0     15.0    125.0
   4 │     1    100.0     50.0     10.0     50.0

In [7]:
# 5. Escribe el DataFrame filtrado en un archivo CSV llamado filtered_nodes.csv.
CSV.write("../../data/module2/filtered_nodes.csv", df_filtered)

"../../data/module2/filtered_nodes.csv"